<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CPaaS template for Python</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <h1 id="tittle">CPaaS template for Python</h1>
        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="https://py-cpaas.herokuapp.com/">Deployed on Heroku here</a></li>
                <li><a href="https://github.com/albergark9/py-cpaas">Github Source Code</a></li>
                <li><a href="https://twitter.com/albertogibanez">Author's twitter</a></li>
            </ul>
        </nav>
      </body>
</html>
